{% extends 'food/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title mx-auto">
                        Add Item
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class = 'form-group'>
                            {{field.name}}
                            {{field}}
                        </div>
                        {% endfor %}
                        <button type="submit"  class = "btn-info mx-auto d-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class = 'form-group'>
            {{field.name}}
            <br>
            {{field}}
        </div>
    {% endfor %}
    <button type="submit" class = "btn-info mx-auto d-block">Sign Up</button>
</form>